/* Vars:
  ========================================================================== */

$maw: 1336px;
//Color

$white-bg: #f5f4f2;
$white: #ffffff;
$yellow-hover: #f0b505;
$yellow: #fac62d;
$yellow-active: #e1ab08;
$blue: #2794db;
$red: #eb4b51;
$green: #64b851;
$grey-hover-bg: #f5f4f2;
$grey-active-bg: #e7e4de;
$grey: #b2b0ab;
$grey-base: #383736;
$grey-title: #989691;
